<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Owners List</title>
</head>
<body>
    <main>
      <header>
        <h1>List of Owners</h1>
      </header>
        <p th:text="'list of owners'">List of owners....</p>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="owner: ${owners}">
                    <td th:text="${owner.getId()}">1L</td>
                    <td th:text="${owner.getFirstName()}">Firstname</td>
                    <td th:text="${owner.getLastName()}">Lastname</td>
                </tr>
            </tbody>
        </table>
    </main>
</body>
</html>